:root {
  --shadow-color: 355deg 87% 10%;
  --shadow-elevation-high: 0.5px 0.3px 0.4px hsl(var(--shadow-color) / 0.71),
    0.6px 0.4px 0.5px -0.6px hsl(var(--shadow-color) / 0.64),
    1.3px 0.8px 1.1px -1.1px hsl(var(--shadow-color) / 0.57),
    3.2px 1.8px 2.8px -1.7px hsl(var(--shadow-color) / 0.5),
    6.7px 3.9px 5.8px -2.2px hsl(var(--shadow-color) / 0.43),
    12.7px 7.3px 11px -2.8px hsl(var(--shadow-color) / 0.36),
    21.5px 12.4px 18.6px -3.3px hsl(var(--shadow-color) / 0.29),
    33.8px 19.5px 29.3px -3.9px hsl(var(--shadow-color) / 0.21),
    50.2px 29px 43.5px -4.4px hsl(var(--shadow-color) / 0.14),
    71.2px 41.1px 61.7px -5px hsl(var(--shadow-color) / 0.07);
}

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: rgba(240, 52, 62, 1);
  background-image: linear-gradient(
    90deg,
    rgba(240, 52, 62, 1) 6%,
    rgba(37, 48, 75, 1) 100%
  );
}

#form {
  margin-top: 6rem;
}
#form label {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
}

#form input {
  border-left-color: black;
  outline: none;
  width: 80%;
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 50px;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  box-shadow: var(--shadow-elevation-high);
}

#form button {
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  color: #7b081da8;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-high);
}
.loading-icon {
  width: 80px;
  filter: invert(100%);
  animation: loading 1s infinite ease-out;
}

footer {
  height: 20px;
  position: fixed;
  right: 0;
  bottom: 20px;
  left: 35%;
}

footer a {
  display: flex;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  bottom: 0;
  left: 5px;
  text-decoration: none;
}

.footerAnimation {
  animation: footerAnimationOnLoad 2s ease forwards;
}

footer img {
  bottom: -5px;
  left: 5px;
  width: 40px;
  height: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 0 4rem 0;
  margin: 0;
  gap: 1rem;
}
li {
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #form {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  #form label {
    font-size: 3rem;
  }
  #form input {
    align-self: center;
    width: 50%;
    font-size: 3rem;
  }
  #form button {
    font-size: 3rem;
    width: fit-content;
    align-self: center;
  }
  footer {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.rhyme-words-effect {
  animation: rhyme-words-effect 400ms ease forwards;
}

.footerFontReduce {
  animation: footerFontReduce 1s ease forwards;
}

.footerimageReduce {
  animation: footerimageReduce 1s ease forwards;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerAnimationOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes footerFontReduce {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 0.8rem;
  }
}

@keyframes footerimageReduce {
  from {
    width: 40px;
    height: 40px;
  }
  to {
    width: 30px;
    height: 30px;
  }
}

@keyframes rhyme-words-effect {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
