.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #7b081d;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  color: white;
}

.loading-icon {
  width: 80px;
  filter: invert(100%);
  animation: loading 1s infinite ease-out;
}

footer a {
  display: flex;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  position: absolute;
  bottom: 0;
  text-decoration: none;
}

.footerAnimation {
  animation: footerAnimationOnLoad 2s ease forwards;
}

footer img {
  position: relative;
  bottom: -5px;
  left: 5px;
  width: 40px;
  height: 40px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerAnimationOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
